Repository fluttercommunity/flutter_launcher_icons, pull requests merged in 2022-07, with the labels that each got.

#374 RatakondalaArun/web-support
  analysis_options.yaml
  flutter_launcher_icons.code-workspace
  lib/abs/icon_generator.dart
  lib/constants.dart
  lib/custom_exceptions.dart
  lib/flutter_launcher_icons_config.dart
  lib/flutter_launcher_icons_config.g.dart
  lib/logger.dart
  lib/main.dart
  lib/utils.dart
  lib/web/web_icon_generator.dart
  lib/web/web_template.dart
  pubspec.yaml
  test/abs/icon_generator_test.dart
  test/abs/icon_generator_test.mocks.dart
  test/all_tests.dart
  test/assets/app_icon.png
  test/flutter_launcher_icons_config_test.dart
  test/templates.dart
  test/utils_test.dart
  test/web/web_icon_generator_test.dart
  test/web/web_template_test.dart
Labels: platform:web

#381 RatakondalaAarun/update-docs
  README.md
Labels: docs

#298 Added missied sizes for iOS
  lib/ios.dart
  test/main_test.dart
Labels: platform:ios
